<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ToDo List</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/materialize.min.css">
</head>

<body>
    <div class="row">
            <header class="center-align">
                <h1 class="blue-text text-darken-1 card-panel amber darken-4">ToDo List</h1>
            </header><!-- /header -->
    </div>
    <hr /><br />
            <main class="app center-align">
                    <div class="row">
                        <div class="col s12 m4 l4"><p></p></div>
                        <div class="col s12 m4 l4"><input class="flow-text" v-model="newList" v-on:keyup.enter="addTodo"/></div>
                        <div class="col s12 m4 l4"><p></p></div>
                    </div>            
                <!-- <input class="flow-text" v-model="newList" v-on:keyup.enter="addTodo"/> -->
                <button class="btn-add waves-effect waves-light btn-large" type="button" v-on:click="addTodo">Add</button>
        </div>
                <ul>
                    <li v-for="(todo, index) in todos">
                        {{ todo | capitalize }}
                        <button class="btn-sup waves-effect waves-light btn card-panel red darken-1" type="button" v-on:click="supTodo(index)"> X </button>
                    </li>
                </ul>
            </main>
        </div>

    <script src="./js/vue.js"></script>
    <script src="./js/main.js"></script>

    <script src="./js/materialize.min.js"></script>

</body>

</html>