<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ToDo List</title>
  <link rel="stylesheet" href="./css/main.css">
</head>
<body>
  <header>
    <h1>ToDo List</h1>
  </header><!-- /header -->
<main id="app">
  <ul>
    <li v-for="todo in todos">
        {{ todo }}
    </li>
  </ul>
  <input v-model="newList" v-on:keyup.enter="addTodo()" />
</main>
  <script src="./js/vue.js"></script>
  <script src="./js/main.js"></script>
</body>
</html>
